@import 'scss/index.scss';

.item {
    @include item();
}

.wrapper {
    @include wrapper();
}

.next {
    margin-top: 15px;
    text-align: center;

    button {
        &:first-child {
            margin-right: 10px;
        }
    }
}