@import 'scss/index.scss';

.datePicker {
    input {
       background-color: #8a817c;
       border: none;
       min-height: 35px;
       display: block;
       width: 100%;
       border-radius: 8px;
       color: $txtColor;
       padding: 0 5px;
    }
}

.item {
    @include item();
}

.wrapper {
    @include wrapper();
}