@import 'scss/index.scss';

.content {
  @include dropdownContent();

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 98%;
    min-height: 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 2.5px 10px 2.5px 0px;
      background-color: #e6f4fb;
      border-radius: 7.5px;
      margin: 2.5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      i {
        position: relative;
        top: 2px;
        svg {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
  }
}
.options {
  @include dropdownOptions();
}
